<h1>Add article</h1>

<%= form_with model: @article, local: true do |form| %>
<%= form.label :title, "標題" %>
<%= form.text_field :title %> <br />

<%= form.label :content, "內文" %>
<%= form.rich_text_area :content %>

<%#= form.label :published %>
<%#= form.check_box :published %>
<%= form.submit %>
<% end %>

<%= link_to 'back', articles_path %>
